{% extends "templates.html" %}
{% block content %}
    
    <main style="margin:20px">
        <h2>Course Description:</h2>
					<p>We will be learning that there is no Easter Bunny, there is no Tooth Fairy, and there is no Queen of England. This is the real world, and you need to wake up!</p>
					<p><b>Prerequisite:</b> I'm not taking anyone who had an easier life than myself into my masterclass. Your life story must be as cool as mine, and since nobody else can compare with my origins don't even bother. You pathetic excuse for a criminal.</p>
					<p><b>Exclusion:</b> Nobody that is already a <i>real</i> villian like myself may take this course, although that is highly unlikely and probably impossible. You reading this, you're fine.</p>
		<img src="/static/content/egomind.jpg" width="100%">
        <!-- Assignments section -->
        <section id="assignments">
            <h2 class="assignment-header">Assignments</h2>
            <div class="assignment-container" id="assignment-container">
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 1</a>
                    <p>Shrek is a 2001 American animated fantasy comedy film loosely based on the 1990 children's picture book of the same name by William Steig. Directed by Andrew Adamson and Vicky Jenson (in their feature directorial debuts) and written by Ted Elliott, Terry Rossio, Joe Stillman, and Roger S. H. Schulman, it is the first installment in the Shrek film series. The film stars Mike Myers, Eddie Murphy, Cameron Diaz, and John Lithgow.</p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 2</a>
                    <p> In the film, an embittered ogre named Shrek (Myers) finds his home in the swamp overrun by fairy tale creatures banished by the obsessive ruler Lord Farquaad (Lithgow). With the help of Donkey (Murphy), Shrek makes a pact with Farquaad to rescue Princess Fiona (Diaz) in exchange for regaining control of his swamp. </p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 3</a>
                    <p>After purchasing rights to Steig's book in 1991, Steven Spielberg sought to produce a traditionally-animated film adaptation, but John H. Williams convinced him to bring the project to the newly founded DreamWorks in 1994. Jeffrey Katzenberg, along with Williams and Aron Warner, began development on Shrek in 1995, immediately following the studio's purchase of the rights from Spielberg.</p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 4</a>
                    <p>This one is not real.</p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 5</a>
                    <p> None of these were. </p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 6</a>
                    <p>Does anybody read these?</p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 7</a>
                    <p>Are there even issues?</p>
                </div>
                <div class="assignment">
                    <a href="/static/content/no-links.pdf" target="blank">Assignment 8</a>
                    <p> Where. </p>
                </div>
                
                <!-- Add more assignments as needed -->
            </div>
        </section>
        <!-- End of assignments section -->



        <!-- Anon feedback section -->
        <section id="anon-feedback">
            <h2>Anonymous Feedback</h2>
            <div class="feedback-box">
                <form id="feedback-form">
                    <textarea id="feedback-text" rows="4" cols="50" placeholder="Enter your feedback here..."></textarea>
                    <div class="button-container">
                        <button type="reset">Clear Form</button>
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- End of anon-feedback section -->
        

				<section id="labs">
					<h2 class="labs">Labs</h2>
					<ul class="labs">
						<li><b>Week 2</b> <a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 3 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 4 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 5 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 6 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 7 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 8 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 9 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
						<li><b>Week 10 </b><a href="/static/content/no-links.pdf" target="blank">Handout</a> and <a href="content/no-links.pdf">Solution</a></li>
					</ul>
				</section>

				<section id="courseteam">
					<h2>Instructor</h2>
					<h3><b>Dr. M. Mind</b></h3>
					<div>
						<img src="/static/content/no-images.png" style="width:200px">
					</div>
					<b>Email: <a href="mailto:megamind-2@hotmail.ru">megamind-2@hotmail.ru</a></b>
					<p><b>Office:</b> Not the observatory</p>
					<p><b>Phone:</b> 991</p>
					<p><b>Lectures:</b> Refer to spacedad</p>
					<p><b>Office Hours:</b> N/A</p>
				</section>



    </main>
    
    <footer>
        <div class="footer-content">
            <p>Site design by Rafik Hamzi and Jeremy Janella and Peter Yoo</p>
            <a href="https://www.cs.toronto.edu/">Faculty of Computer Science at UofT</a>
        </div>
    </footer>
    

</body>
</html>
{% endblock %}